@import "./vars";

// HEADER-UP

.header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header-line {
    border-bottom: 1px solid #cfc5c524;
}

.header-up {
    background-color: $color-bg-blue;
    
    &__wrapper {
        background: url(../assets/images/header/heder_bg_img.png) no-repeat 80%;  
    }

}


.header-contacts {
    max-width: 468px;
    margin: 0 0 0 auto;
    padding: 18px 0 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-phone {
    &__num {
        display: flex;
        align-items: center;
        font-family: $ff-roboto;
        font-style: normal;
        font-weight: $fw-bold;
        font-size: 16px;
        line-height: 20px;
        color: $f-color-white2;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    &__num:hover {
        color: $color-bg-grey;
    }

    &__img {
        margin-right: 14px;
    }
}

.header-social {
    display: flex;
    list-style: none;
    height: 24px;

    &__item {
        transition: all 0.4s ease;
        text-decoration: none;
    }

    &__item:hover {
        transform: scale(1.5);
    }

    &__item + &__item {
        margin-left: 18px;
    }
}


// MAIN-HEADER

.main-header {
    background-color: #fff;

    &__inner {
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.logo {
    max-width: 210px;
    max-height: 94px;

    &__image {
        width: 100%;
        object-fit: fill;
    }
}

.nav {
    display: flex;
    align-items: center;

    &__btn-contact {
        font-family: $ff-poppins;
        font-style: normal;
        font-weight: $fw-bold;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 1px;
        color: $f-color-white2;
        text-decoration: none;
        padding: 10px 38px 10px 37px;
        border: 1px solid $color-bg-green;
        background-color: $color-bg-green;
        border-top-left-radius: 21px;
        border-bottom-right-radius: 22px;
        transition: all 0.4s ease;
    }

    &__btn-contact:hover {
        border: 1px solid $color-bg-green;
        background-color: $f-color-white2;
        color: $f-color-green;
        text-decoration: none;
    }
}

.menu {
    margin-right: 64px;
    display: flex;
    list-style: none;
  

    &__item + &__item {
        margin-left: 24px;
    }

    &__link {
        font-family: $ff-poppins;
        font-style: normal;
        font-weight: $fw-bold;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 1px;
        color: $f-color-blue;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    &__link-active {
        color: $f-color-green;
        border: 1px solid $color-bg-green;
        padding: 9px 9px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    &__link:hover {
        color: $f-color-white2;
        background-color: $color-bg-green;
        border: 1px solid $color-bg-green;
        padding: 9px 9px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
}

.menu-social,
.menu__btn-contact,
.burger {
      display: none;
}

//  MEDIA-----------------------

@media (max-width: 1200px) {
    .menu {
        margin-right: 24px;
    }
}

@media (max-width: 1150px) {
    .header {
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 10;
    }

    .header-up {
        z-index: 3;
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
    }

    .header-up::before {
        content: "";
            position: fixed;
            top: 0;
            right: 0;
            height: 194px;
    }

    .popup-btn.unvisible {
        opacity: 0;
    }

    .menu {
        position: fixed;
        top: 0;
        right: -500px;
        width: 447px;
        height: 100%;
        background-color: #111f66ed;
        opacity: 1;
        border-bottom-left-radius: 72px;
        margin-right: 0;
        padding: 96px 156px 90px 33px;
        transition: right 0.3s ease 0s;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        z-index: 2;

        &__item + &__item {
            margin: 24px 0 0 0;
        }

        &__link {
            padding: 0;
            color: $f-color-white2;
            border: none;
        }

        &__link-active {
            font-weight: 800;
            background-color: #111f6600;
            border: none;
        }

        &__link:hover {
            font-weight: 800;
            color: $f-color-white1;
            padding: 0;
            background-color: #111f6600;
            border: none;
            transition: all 0.1s;
        }
    }

    .menu__btn-contact {
        position: relative;
        display: block;
        margin: 36px 0 30px 0;
    }

    .menu.active {
        right: 0;
    }

    .burger {
        margin: 0 6.2px 0 64.2px;
        display: block;
        z-index: 5;
        position: relative;
        width: 33.6px;
        height: 24px;
        cursor: pointer;
    }

    .burger span,
    .burger::before,
    .burger::after {
        position: absolute;
        width: 100%;
        height: 18%;
        background-color: $color-bg-dblue2;
        border-radius: 3px;
        transform: all 0.3s ease 0s;
    }

    .burger::before {
        content: "";
        top: 0;
    }

    .burger::after {
        content: "";
        bottom: 0;
    }

    .burger span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .burger.active span {
        transform: scale(0) translate(0px, -50%);
    }

    .burger.active::before {
        background-color: $color-bg-white;
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .burger.active::after {
        background-color: $color-bg-white;
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
}


@media (max-width: 768px) {
    .header-up {
        background-color: $color-bg-blue;
      
        &__wrapper {
            background: none;  
        }
    }
    .header-contacts {
        max-width: 150px;
        margin: 0 auto;
    }
    
    .header-phone {
        &__img {
            margin-right: 15px;
        }
    }


    .header-social {
        display: none;
    }

    .menu {
        overflow: auto;
        
        &__link {
            padding: 0;
            font-weight: 500;
            font-size: 24px;
            line-height: 34px;
        }
    }

    .menu-social {
        display: block;

        &__item + &__item {
            margin-left: 14px;
        }

        &__item {
            transition: all 0.4s ease;
        }

        &__item:hover {
            transform: scale(1.5);
        }
    }

    .burger.active::before {
        background-color: $color-bg-white;
        top: 10%;
        transform: rotate(-45deg) translate(0px, -100%);
    }
    .burger.active::after {
        background-color: $color-bg-white;
        bottom: 100%;
        transform: rotate(45deg) translate(0px, 100%);
    }
}


@media (max-width: 620px) {
    .nav__btn {
        display: none;
    }
}


@media (max-width: 425px) {
   
  .header-phone__num {
    font-size: 14px;
  }

  .header-phone__img {
    width: 22px;
  }


  .menu {
    width: 100%;
    height: 100%;
    padding: 111px 46.29px 30px 88px;
    border-bottom-left-radius: 0;

    &__item,
    &__btn-contact {
        margin: 0 0 0 50px;
    }

    &__item + &__item {
        margin: 12px 0 0 50px;
    }

    &__link {
        font-size: 20px;
        line-height: 28px;
    }

    .menu-social__icon {
        width: 37.41px;
    }

    .menu__btn-contact {
        margin: 36px 0 35px 50px;
    }

    .menu-social__item + .menu-social__item {
        margin-left: 20px;
    }

    .menu-social__icon {
        width: 42.71px;
        height: 41px;
    }

    .burger {
        margin: 0;
        width: 28px;
        height: 20px;
    }

    .burger span,
    .burger::before,
    .burger::after {
        height: 20%;
    }
   }
}

@media (max-width: 393px) {
    .menu {
        padding: 111px 46.29px 30px 55px;
    }    
}


@media (max-width: 370px) {

    .header-contacts {
        max-width: 120px;
        padding: 17px 0;
    }
    
    .header-phone {
        &__img {
            margin-right: 7px;
        }
    }

    .logo {
        max-width: 95px;
        max-height: 42.52px;
    
        &__image {
            width: 100%;
            object-fit: fill;
        }
    }

    .main-header {
        &__inner {
            padding: 11px 0 10.48px 0;
        }
    }

    .menu {
        padding: 92px 46.29px 30px 46px;

        &__link-active {
            font-weight: 700;
        }
    }

    .menu__btn-contact {
        margin: 34px 0 35px 50px;
    }
}
