//Fonts
$ff-poppins: "Poppins", sans-serif;
$ff-roboto: "Roboto", sans-serif;
$ff-inter: "Inter", sans-serif;

//Font Weights
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semiBold: 600;
$fw-bold: 700;
$fw-extraBold: 800;

//Bg-colors
$color-bg-blue: rgba(17, 31, 102, 1);
$color-bg-green: #1a911e;
$color-bg-lblue: rgba(227, 238, 237, 1);
$color-bg-dgreen: rgba(26, 145, 30, 0.33);
$color-bg-dblue: rgba(17, 31, 102, 0.23);
$color-bg-dblue2: #111f66;
$color-bg-grey: rgba(232, 230, 230, 0.6);
$color-bg-white: #ffffff;
$color-bg-grey2: rgba(255, 255, 255, 0.4);
$color-bg-grey3: rgba(239, 239, 239, 1);

//Font-colors
$f-color-white1: #ffffff;
$f-color-white2: rgba(255, 255, 255, 1);
$f-color-blue: rgba(17, 31, 102, 1);
$f-color-blue2: #111f66;
$f-color-dblue: rgba(3, 10, 27, 1);
$f-color-dblue2: #030a1b;
$f-color-dark: #393939;
$f-color-green: #1a911e;
$f-color-lgreen: rgba(26, 145, 30, 0.75);
$f-color-dgreen: rgba(26, 145, 30, 0.45);
$f-color-light: #fefefe;
$f-color-grey: rgba(254, 254, 254, 1);
$f-color-grey2: #8e8e8e;
$f-color-black: #000000;


@mixin roboto {
    font-family: $ff-roboto;
    font-weight: $fw-regular;
    font-style: normal;
}

@mixin poppins {
    font-family: $ff-poppins;
    font-weight: $fw-bold;
    font-style: normal;
}
$f-color-grey2: #8e8e8e;
